body {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 100%;
    background: url(https://github.com/a-garcia13/a-garcia13.github.io/blob/master/assets/bogota-skyline.jpg?raw=true) center center no-repeat;
    background-size: cover;
}

h1 {
    font-size: 3.5em;
    color: white;
    text-shadow: 2px 2px black;
}

footer{
    background-color:#222222;
    width: 100%;
    height: 100%;
    padding: 60px 0px;
}

footer ul{
    list-style:none;
    margin:0 auto;
    display:inline-block;
    padding-top:50px;
}

footer ul li{
    float:left;
}

footer ul li a{
	color:#b1aca1;
    padding:20px;
}

footer ul li a:hover{
	color:#7dabdb;
	text-decoration:none;
}

.footer-top{
	padding-bottom:50px;
}

.footer-top .fa{
    font-size:18px;
    color: #FFF;
    padding-right:10px;
}

.footer-top a{
    color:#FFF;
    text-decoration:none;
}

.footer-top .col-lg-2:hover .fa , .footer-top .col-lg-2:hover a{
    color:#7dabdb;
}

.copyright{
    background-color:#f0f0f0;
}

.copyright p{
	font-size:12px;
	padding:15px 0 10px 0;
}

