body {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 100%;
    background: url(https://github.com/a-garcia13/a-garcia13.github.io/blob/master/assets/bogota-skyline.jpg?raw=true) center center no-repeat;
    background-size: cover;
}

h1 {
    font-size: 1.4em;
    color: white;
    text-shadow: 2px 2px black;
}

@media (max-width: 1580px) {
    h1 {
        font-size: 14px;
    }
}

@media (max-width: 980px) {
    h1 {
        font-size: 10px;
    }
}

@media (max-width: 460px) {
    h1 {
        font-size: 6px;
    }
}
