body {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 100%;
    background: url(https://github.com/a-garcia13/a-garcia13.github.io/blob/master/assets/bogota-skyline.jpg?raw=true) center center no-repeat;
    background-size: cover;
}

h1{
    font-size: 3.5em;
    color: white;
    text-shadow: 2px 2px black;
}

#wrap {
    width: 100%;
    height: 100%;
    min-height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 150px;
    color: black;
}

footer{
    background-color:#222222;
    width: 100%;
    position: relative;
    margin-top: -150px;
    height: 80px;
    clear:both;
    padding-top:10px;
}

.footer .fa{
    color: #FFF;
}

.footer a{
    color:#FFF;
    text-decoration:none;
}

.footer .col-lg-2:hover .fa , .footer-top .col-lg-2:hover a{
    color:#7dabdb;
}
